@charset "utf-8";
@font-face {
	font-family: 'SourceSansPro-ExtraLight';
	src: url('fonts/SourceSansPro-ExtraLight.eot');
	src: url('fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/SourceSansPro-ExtraLight.otf.woff') format('woff'),
		url('fonts/SourceSansPro-ExtraLight.ttf.woff') format('truetype');
}
@font-face {
	font-family: 'SourceSansPro-Light';
	src: url('fonts/SourceSansPro-Light.eot');
	src: url('fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/SourceSansPro-Light.otf.woff') format('woff'),
		url('fonts/SourceSansPro-Light.ttf.woff') format('truetype');
}
@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('fonts/SourceSansPro-Regular.eot');
	src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/SourceSansPro-Regular.otf.woff') format('woff'),
		url('fonts/SourceSansPro-Regular.ttf.woff') format('truetype');
}
@font-face {
	font-family: 'SourceSansPro-SemiBold';
	src: url('fonts/SourceSansPro-SemiBold.eot');
	src: url('fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/SourceSansPro-SemiBold.otf.woff') format('woff'),
		url('fonts/SourceSansPro-SemiBold.ttf.woff') format('truetype');
}

/* 	##################################################
						RESET STYLES
	##################################################  */

/* ###################################################
			general styles & typography
   ################################################### */
html, body {
	margin:0;
	padding:0;
    max-height:100%;
}
html, body, #map {
    height: 100%;
	width:100%;
	padding:0px;
	margin:0px;
}
html{}
body{
	font-size:18px;	
    font-family: SourceSansPro-Light,sans-serif;
}

/* 		---------------------------------------------------
							general
		--------------------------------------------------- */
* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/* 		---------------------------------------------------
							typography
		--------------------------------------------------- */   
p {margin:8px 0;}
strong, b {font-weight:bold;}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a{
	margin-bottom:8px;
    font-family: SourceSansPro-Light,sans-serif;
	font-size:18px;
	color:#5b5B5B;
}
h1, h1 a{
	font-size:105%;
    font-family: SourceSansPro-Semibold,sans-serif;
	color:#18A1A8;
}
h2, h2 a{
	font-size:100%;
    font-family: SourceSansPro-Regular,sans-serif;
	color:#18A1A8;
}
h3, h3 a{
	font-size:95%;
    font-family: SourceSansPro-Regular,sans-serif;
}
h4, h4 a{
	font-size:90%;
}
h5, h5 a{
	font-size:85%;
}
h6, h6 a{
	font-size:80%;
}
a, a:active, a:link, a:visited {
	color:#2998e7;
}


/* ###################################################
					helper styles
   ################################################### */
:-moz-placeholder {
    color: #A8A8A8 !important;
}
*::-moz-placeholder {
    color: #A8A8A8 !important;
    opacity: 1;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
.align-left{
	text-align:left;
}	

.float-right{
	float:right;
}
.float-left{
	float:left;
}

.table{
	display:table;
	width:100%;
	border-collapse: separate;
	border-spacing: 1px;
}
.tg{
	display: table-row-group; 
}
.tc{
	display: table-caption;
}
.tr{
	display:table-row;
}
.td{
	display:table-cell;
}

.vertical-top{
	vertical-align:top;
}
.vertical-middle{
	vertical-align:middle;
}
.vertical-bottom{
	vertical-align:bottom;
}

.margin-auto{
	margin:0px auto;
}
/* x-small devices */	
@media screen and (max-width:359px){
	.hide-xs{
		display:none;
	}
}
/* small devices */
@media screen and (max-width:479px){
	.hide-sm{
		display:none;	
	}
}


/* ###################################################
					controls
   ################################################### */
.btn{
	cursor:pointer;
	cursor:hand;
}

.btn-icon{
	display:inline-block;
	width:50px;
	height:40px;
}
.btn-icon i {
    display: inline-block;
    font-size: 40px;
    height: 40px;
	width:40px;
    padding-top: 10px;
}
	input, textarea {
		font-size:100%;
		padding:8px;
		margin:3px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border: 1px solid;
	}

	
	input[type="checkbox"] {
			
	}
	
	input[type="text"] {
		
	}
	
	input[type="search"] {
		
	}
	
	
	/* special style for search Icon */
	.et-search{
		font-size:120%;
	}
	
	
/* ###################################################
					  overlays
   ################################################### */
#mask{
	position:absolute;
	top:0;
	left:0;
	
	display:none;
	overflow:hidden;
	
	background: rgba(0,0,0,0.85);	
	
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	
	padding:0px;
	margin:0px;	

	z-index:30; 
}

#mask.visible{
	display:block;
}
/* ------------ modal popup ------------- */
#popup{
	display:none;
	height:90%;
	max-height:90%;
	width:90%;
	max-width: 440px;
	margin-bottom:60px;
	overflow:hidden;
}
.popup-modal{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	
	padding:0px;
	z-index:35;
}
	.popup-head{
		position:absolute;
		top:0px;
		left:0px;
	}
		.popup-icon{
		
		}
		.popup-title{
		
		}
		.popup-close{
			width:40px;
			height:40px;
			margin:0px 10px;
			text-align:center;
		}
	.popup-wrap{
		position:relative;
		top:0px;
		left:0px;
		
		
		display:block;
		/*height:100%;*/
		height:auto;
		max-height:90%;
		width:100%;
		
		overflow:hidden;
		overflow-y:auto;
	
		margin:50px 0px 20px 0px;
		padding:10px 20px 20px 20px;
		
		
	}
		.popup-inner{
		}
		.popup-buttons{
		
		}
			.popup-buttons .btn{
				position:relative;
				float:right;
				
				display:block;
				width:120px;
				min-width:120px;
				height:40px;
				min-height:40px;
				
				margin:5px;
				padding:5px;
				
				border:1px solid #000;
			}

/* ------------ info popup ------------- */
	#info{
		position:absolute;
		top:0px;
		left:0px;
		display:block;
		
		padding:0px;
		opacity:1;
		z-index:40;
	}

/* ###################################################
					  main app
   ################################################### */
#app{
	position:relative;
	top:0px;
	left:0px;
	
	display:block;
	overflow:hidden;
	
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	
	padding:0px;
	margin:0px;
}

	/* ------------ header bar ------------- */
	#topbar{
		position:fixed;
		top:0px;
		left:0px;
		
		display:block;
		overflow:hidden;
		
		height:50px;
		min-height:50px;
		max-height:50px;
		width:100%;
		min-width:100%;
		max-width:100%;
		
		padding:0px;
		margin:0px;
		
		border-bottom:1px solid #000;
		
		z-index:20;
	}
		#topbar h1, .page-header h1{
			margin:0;
			font-size:90%;
		}
		#topbar .td{	
			width:50px;
			max-width:50px;
			min-width:50px;
		}
			#topbar .td i, #topbar .td em{	
				width:50px;
				max-width:50px;
				min-width:50px;
			}
		#topbar .logo{
			width:105px;
			min-width:105px;
			max-width:105px;
		}
			#topbar .logo img{
				position:relative;
				top:0px;
				left:0px;
				
				display:inline-block;
				height:30px;
				width:auto;
				
				margin:9px 4px 9px -4px;
			}
		#topbar .title{
			width:100%;
		}
		
	/* ------------ content & pages ------------- */
	#content{
		position:fixed;
		top:0px;
		left:0px;
		
		display:block;
		overflow:hidden;
		
		height:100%;
		min-height:100%;
		max-height:auto;
		width:100%;
		min-width:100%;
		max-width:100%;
		
		padding:0px;
		margin:0px;
		
		z-index:1;
	}
		.pages{
			position:relative;
			top:0px;
			left:0px;
			
			display:block;
			overflow:hidden;
			overflow-y:auto;
			
			height:100%;
			min-height:100%;
			max-height:auto;
			width:100%;
			min-width:100%;
			max-width:100%;	

			padding:0px;
			margin:0px;			
		}
			.page{
				position:relative;
				
				display:none;
				overflow:hidden;
				overflow-y:auto;
				
				height:100%;
				min-height:100%;
				max-height:auto;
				width:100%;
				min-width:100%;
				max-width:100%;
				
				padding:50px 0px 0px 0px;
				
				margin:0px;
			}
			.page.active{
				display:block;
			}
			.page[rel="map"]{
				padding:50px 0px 0px 0px;
			}
			#map { 
				height: 1000px;
				max-height: 100%;
				max-width: 100%;
				min-height: 100%;
				overflow: hidden;
			} 

				.page-inner{
					position:relative;
					
					display:block;
					overflow:hidden;
					overflow-y:auto;
					
					height:100%;
					min-height:100%;
					max-height:auto;
					width:100%;
					min-width:100%;
					max-width:100%;
					
					padding:0px;					
					margin:0px;
					
					background-color:#fff;
				}
					.page-inner h1{
						font-size:100%;
					}

					.page-header{
						position:relative;						
						margin: 10px 10px 10px 10px;
					}
					.page-header .td{
						height:60px;
						min-height:60px;
					}
					.page-header .td:last-child  i,.page-header .td:last-child  em{
						width:50px;
						min-width:50px;
						font-size:200%;
					}
					
					.page.modal  .page-header{
						margin:0px 10px 10px 10px;
					}
					
					.jumbo{
						position:relative;	

						display:block;
						overflow:hidden;
						
						margin: 0px 0px 0px 0px;
						min-height:150px;
						max-height:300px;
						width:100%;
						max-height:200px;
					}
						.jumbo .top h1{
							font-size:200%;
							margin-top:15px;
						}
						.jumbo img{
							position:absolute;
							width:100%;
							height:auto;
							display:block;
						}
						.jumbo span.top{
						
						}
						.jumbo span.bottom{
							position:absolute;
							bottom:0;
							left:0;
							
							display:block;
							height:30px;
							width:100%;
							
							margin:0px;
							padding:5px 20px;
						}
							.jumbo span.bottom h1, .jumbo span.bottom h2, .jumbo span.bottom h3 , .jumbo span.bottom h4, .jumbo span.bottom h5 , .jumbo span.bottom h6{
								margin:0px;
							}
					.page-content{
						position:relative;						
						margin:20px;					
					}
					.page.modal  .page-content{
						margin:10px 10px 10px 10px;
						padding:10px 10px 10px 10px;
						background:#FFF;
						color:#111;
					}
		
				
	/* 	---------------------------------------------------
						search & resultlist
		--------------------------------------------------- */
#search-panel{
	width:100%;
	max-width:600px;
}
	.searchField{
		display:table-cell;
		height:100%;
		font-size:18px;
		padding:3px 8px;
		width:100%;
		border:1px solid #fff;
		border-radius: 5px 0px 0px 5px;
		background: rgba(255,255,255,0.6);
		margin:0;
	}
	.searchButton{
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		border: 0;
		padding: 0;
		cursor: pointer;
		height: 28px;
		width: 19%;
		border-radius: 0px 4px 4px 0px;
		text-transform: uppercase;
		background: rgba(100,100,100,0.6);
	}
		.searchButton i{
			color:#FFF;
			font-size:20px;
		}
	#searchSuggests{
		position:relative;
		width:100%;
		max-width:600px;
		height:auto;
		max-height:80%;
	}
	#searchSuggestsList{
		display:table-row;						
		cursor: pointer;
		cursor:hand;
	}
	#searchSuggestsList  div.panelCell{
		font-size:16px;
		width:80%;
		max-width:500px;
		vertical-align:middle;
		height:24px;
	}
	#searchSuggestsList div.panelCell:first-child{
		width:9%;
	}
	#searchSuggestsList div.panelCell:last-child{
		width:19%;
	}
					
	/* 	---------------------------------------------------
						tipps list
		--------------------------------------------------- */
	ul.tippsList{
		list-style-type:none;
		padding:0;
		margin:0;
		width:100%;
	}
	li.tipps{
		height:300px;
		overflow:hidden;
		padding:0;
		margin:1px 0;
		border-right:2px solid #fff;
		transition:  width 0.5s linear, height 0.5s linear,opacity 0.5s linear;
		float:left;
		width:33%;
		position:relative;
		
	}
	
/* x-large devices 4-elements*/
@media screen and (min-width:1020px){
	ul.tippsList{margin-left:0.5%;}
	li.tipps{
		width:24.5%;
	}
}
/* large devices 3-elements*/
@media screen and (max-width:1019px){
	ul.tippsList{margin-left:0.5%;}
	li.tipps{
		width:33%;
	}
}
/* medium devices 2-elements*/
@media screen and (max-width:767px){
	ul.tippsList{margin-left:0.5%;}
	li.tipps{
		width:49.5%;
	}
}
/* small devices &  x-small devices */
@media screen and (max-width:479px){
	ul.tippsList{margin-left:0.5%;}
	li.tipps{
		width:99%;
	}
}
	
	/* trashed tipp */
	li.tipps.trashed{
		width:0px;
		height:0px;
		opacity: 0;
		/* will be removed from dom after transition is finished */
	}
		
		li.tipps div.tippsImage{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			overflow:hidden;
			z-index:1;
			background: url(img/spinner.gif) no-repeat;
			background-size:auto;
			background-position:50% 50%;
		}
		img.tippsImage{
			position:relative;
			display:block;
			left:-50%;
			top:-50%;
			height:100%;
			width:auto;
			min-height:100%;
			margin-left:25%;
			margin-top:25%;
		}
		
		div.tippsInner{
			height:100%;
			margin:0px;
			padding:0;
			position:relative;
			z-index:2
		}
		span.tipps.row1{
			height:10%;
			width:100%;
			background:rgba(0,0,0,0.3);
			color:#fff;
		}
			span.optionsBtn {
				width:40px;
				height:40px;
				display:inline-block;
				text-align:center
				position:relative;
			}
			span.trashBtn {
				width:40px;
				height:40px;
				display:inline-block;
				text-align:center;
				position:relative;
			}
			span.createdDate{
				height:40px;
				display:inline-block;
				text-align:left;
				position:relative;
				padding:10px;
			}
		span.tipps.row2{
			height:auto;
			width:100%;
			background:none;
			color:#333;
		}
		span.tipps.row3{
			height:60px;
			width:100%;
			background:rgba(0,0,0,0.3);
			color:#fff;
		}
			.tipps.cell{
				padding:5px;
				vertical-align:top;
			}
			
			.tippsHead{
				font-size:130%;
				text-align:center;
				display:block;
				text-transform:uppercase;
				font-weight:900;
				color:#fff;
				text-shadow: 1px 1px 1px #777;
			}
			.tippsSubhead{
				font-size:80%;
				text-align:center;
				display:block;
				text-transform:uppercase;
				font-weight:900;
				color:#fff;
				text-shadow: 1px 1px 1px #777;
			}
			
			
			p.tippsBottom{
				display:block;
				width:100%;
				height:60px;
				max-height:60px;
				padding:5px;
				margin:0;
				white-space: normal;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			span.tippsBottom, span.tippsTop{
				font-weight:700;
				font-size:80%;
			}
			span.tippsBottom.small{
				display:block;
				font-size:60%;
				letter-spacing:0.05em;
			}
			
		/* Tipp Options */
		
		.tippOptions{
		
		}
		
		.tippOptions .tr{
			display:table-row;
			height:40px;
		}
		.tippOptions .td{
			display:table-cell;
			vertical-align:middle;
			border-bottom: 1px solid #eee;
		}
		.tippOptions .td:first-child{
			text-align:left;
		}
		.tippOptions .td:last-child{
			text-align:center;
			width:50px;
		}
		
		.tippOptions .tr:last-child .td{
			/*border-bottom: 0px none #eee;*/
		}
	

	
/* ----------- comments list --------------  */
ul.comments{
    position:relative; 
    display:table;
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    width:100%;
}
    li.comments, li.commentshead{
        display:table-row;
        width:100%;
    }
        span.comments{
            display:table-cell;
            width:auto;
            padding:10px;
            vertical-align: top;
            border-bottom:1px solid #d4d4d4;
        }
        span.comments.head1{
            min-width:70px;
            max-width:140px;
            width: 70px;
            text-align:left;
            font-size:10px;
        }
        span.comments.head2{
            text-align:right;          
        }
        span.comments.col1{
            min-width:70px;
            max-width:140px;
            width: 70px;
            height:80px;
            text-align:left; 
            font-size:10px;
            text-align:center;
        }
            img.profileSmall{
                width:64px;
                height:64px;
                border:1px solid #eee;
                padding:2px;
            }
        span.comments.col2{
            width:auto;
            text-align:left;   
        }
        span.comments.col3{
            min-width:100px;
            max-width:100px;
            width: 100px;
            height:80px;
            text-align:right;   
        }
			span.add{
				vertical-align:top;
				font-size:40%;
				font-weight:bold;
			}
		
/* ------------ cat icons ------------- */	
.catIcon{
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin: 1px;
    padding:2px;
    text-align: center;
    width: 30px;
}


/* ----------- lazy load images - updated after inserted in DOM ----------- */
img.lazy{
    background: url(img/spinner-small.gif) no-repeat;
    background-position: center center;
}

	
					
/* ------------ menu ------------- */
	#menu{
		position:absolute;
		top:0px;		
		left:-250px;
		
		display:block;
		overflow:hidden;
		
		height:100%;		
		min-height:100%;
		max-height:100%;
		width:90%;
		min-width:240px;
		max-width:240px;
		
		padding:50px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		
		background: transparent;
		
		transition:left 0.5s ease-in-out 0s;
		
		z-index:10;		
	}
	#menuCloseTop{
		position:absolute;
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		top:5px;
		right:5px;
		z-index:15;
		width:40px;
		height:30px;
		font-size:150%;
	}
	
	/* display exit btn only in mobile App */
	#exitBtn{
		display:none;
	}
	
	body.mobileApp #exitBtn{
		display:table-row;
	}
	
	#menu.open{
		left: 0px;
	}
	
	#menu .menu-main{
		position:relative;
		
		display:block;
		overflow:hidden;
		overflow-y:auto;
		
		min-height:100%;
		max-height:100%;
		width:90%;
		min-width:240px;
		max-width:240px;
		
		margin:0px;
		padding:0px 0px 0px 0px;
		
		border-right:2px solid #000;		
		background:#fdfdfd;
	}
	#menu ul, #menu ul li{
		list-style:none;
		list-style-type:none;
	}
		.menu-top{
			position:relative;
			
			display:block;
			overflow:hidden;
			
			height:150px;
			min-height:150px;
			max-height:150px;
			width:100%;	

		}
			.menu-top-image{
			
			}
			.menu-top-user{
			
			}
			.menu-top-email{
			
			}
		.menu-bottom{
			position:relative;
			width:100%;
		}
			.menu-block{
				border-bottom:1px solid #ddd;			
				margin:0;
				padding:0;
			}
			.menu-block:last-child{
				border-bottom:0px solid #ddd;
			}
				.menu-block-head{
					text-transform:uppercase;
					font-size:90%;
					font-weight:bold;
					padding:20px 0px 8px 10px;
					margin:0;
					height:50px;
					width:100%;
				}
				.menu-block-group{
					margin:0;
					padding:0;
				}
					.menu-item{
						
					}
					.menu-item.active{
						font-weight:bold;
						color:#18A1A8;
					}
					.menu-item-icon{
						height:50px;
						width:50px;
					}
						.menu-item-head{
							text-transform:uppercase;
							font-size:14px;
							display:block;
						}
						.menu-item-text{
							font-size:9px;
							display:block;
						}
					
	
/* ###################################################
					helper overrides
   ################################################### */
				
.hidden{
	display:none;
}
	
/* ###################################################
					  main colors
   ################################################### */

/* black */
.black{
	color:#000;
}
.black-bg{
	background-color:#000;
}
.black-bg-t7{
	background-color:rgba(0,0,0,0.7)
}
.black-bg-t85{
	background-color:rgba(0,0,0,0.85)
}
.black-bg-t9{
	background-color:rgba(0,0,0,0.9)
}
.black-bg-t99{
	background-color:rgba(0,0,0,0.99)
}
.black-border{
	border-color:#000;
}

/* white */
.white{
	color:#FFF;
}
.white-bg{
	background-color:#FFF;
}
.white-bg-t7{
	background-color:rgba(255,255,255,0.7)
}
.white-bd{
	border-color:#FFF;
}

/* darkgray HEX: 585858 /  RGB: 88,88,88 / CMYK: 0,0,0,167 */
.darkgray{
	color:#585858;
}
.darkgray-bg{
	background-color:#585858;
}
.darkgray-bg-t7{
	background-color:rgba(88,88,88,0.7)
}
.darkgray-bg-t9{
	background-color:rgba(88,88,88,0.9)
}
.darkgray-bd{
	border-color:#585858;
}

/* lightgray HEX: A8A8A8 /  RGB: 168,168,168 / CMYK: 0,0,0,87 */
.lightgray{
	color:#A8A8A8;
}
.lightgray-bg{
	background-color:#A8A8A8;
}
.lightgray-bg-t7{
	background-color:rgba(168,168,168,0.7)
}
.lightgray-bd{
	border-color:#A8A8A8;
}

/* blue HEX: 18A1A8 /  RGB: 24,161,168 / CMYK: 219,11,0,87 ...(some more like turquise) */
.blue{
	color:#18A1A8;
}
.blue-bg{
	background-color:#18A1A8;
}
.blue-bg-t7{
	background-color:rgba(24,161,168,0.7)
}
.blue-bd{
	border-color:#18A1A8;
}

/* red HEX: A73A51 /  RGB: 167,58,81 / CMYK: 0,166,131,88 */
.red{
	color:#A73A51;
}
.red-bg{
	background-color:#A73A51;
}
.red-bg-t7{
	background-color:rgba(167,58,81,0.7)
}
.red-bd{
	border-color:#A73A51;
}

/* green HEX: 33AD6A /  RGB: 51,173,106 / CMYK: 180,0,99,82 */
.green{
	color:#33AD6A;
}
.green-bg{
	background-color:#33AD6A;
}
.green-bg-t7{
	background-color:rgba(51,173,106,0.7)
}
.green-bd{
	border-color:#33AD6A;
}

/* orange HEX: EC7F4E /  RGB: 236,127,78  */
.orange{
	color:#EC7F4E;
}
.orange-bg{
	background-color:#EC7F4E;
}
.orange-bg-t7{
	background-color:rgba(236,127,78,0.7)
}
.orange-bd{
	border-color:#EC7F4E;
}


/* marker-cluster color overrides */

.marker-cluster-small {
	background-color: rgba(51,173,106, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(236,127,78, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(168,168,168, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(51,173,106);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(236,127,78);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(168,168,168);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font-size: 16px;
	font-family: SourceSansPro-Semibold,sans-serif;
	font-weight:bold;
	color:#fff;
	}