@font-face {
font-family: 'EntypoRegular';
src: url('entypo.eot');
src: url('entypo.eot?#iefix') format('embedded-opentype'),
url('entypo.woff') format('woff'),
url('entypo.ttf') format('truetype'),
url('entypo.svg#EntypoRegular') format('svg');
font-weight: normal;
font-style: normal;
}
 
@font-face {
font-family: 'EntypoSocialRegular';
src: url('entypo-social.eot');
src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
url('entypo-social.woff') format('woff'),
url('entypo-social.ttf') format('truetype'),
url('entypo-social.svg#EntypoRegular') format('svg');
font-weight: normal;
font-style: normal;
}
 
.et,.ets  {
font-family: 'EntypoRegular';
font-size: 2em;
font-weight: normal;
line-height: 0;
font-style:normal;
}
 
.ets {
font-family: 'EntypoSocialRegular';
}
 
.et-phone:before{ content:'\1F4DE'; }
.et-mobile:before{ content:'\1F4F1'; }
.et-mouse:before{ content:'\E789'; }
.et-address:before{ content:'\E723'; }
.et-mail:before{ content:'\2709'; }
.et-paper-plane:before{ content:'\1F53F'; }
.et-pencil:before{ content:'\270E'; }
.et-feather:before{ content:'\2712'; }
.et-attach:before{ content:'\1F4CE'; }
.et-inbox:before{ content:'\E777'; }
.et-reply:before{ content:'\E712'; }
.et-reply-all:before{ content:'\E713'; }
.et-forward:before{ content:'\27A6'; }
.et-user:before{ content:'\1F464'; }
.et-users:before{ content:'\1F465'; }
.et-add-user:before{ content:'\E700'; }
.et-vcard:before{ content:'\E722'; }
.et-export:before{ content:'\E715'; }
.et-location:before{ content:'\E724'; }
.et-map:before{ content:'\E727'; }
.et-compass:before{ content:'\E728'; }
.et-direction:before{ content:'\27A2'; }
.et-hair-cross:before{ content:'\1F3AF'; }
.et-share:before{ content:'\E73C'; }
.et-shareable:before{ content:'\E73E'; }
.et-heart:before{ content:'\2665'; }
.et-heart-empty:before{ content:'\2661'; }
.et-star:before{ content:'\2605'; }
.et-star-empty:before{ content:'\2606'; }
.et-thumbs-up:before{ content:'\1F44D'; }
.et-thumbs-down:before{ content:'\1F44E'; }
.et-chat:before{ content:'\E720'; }
.et-comment:before{ content:'\E718'; }
.et-quote:before{ content:'\275E'; }
.et-home:before{ content:'\2302'; }
.et-popup:before{ content:'\E74C'; }
.et-search:before{ content:'\2315'; }
.et-flashlight:before{ content:'\1F526'; }
.et-print:before{ content:'\E716'; }
.et-bell:before{ content:'\1F514'; }
.et-link:before{ content:'\1F517'; }
.et-flag:before{ content:'\2691'; }
.et-cog:before{ content:'\2699'; }
.et-tools:before{ content:'\2692'; }
.et-trophy:before{ content:'\1F3C6'; }
.et-tag:before{ content:'\E70C'; }
.et-camera:before{ content:'\1F4F7'; }
.et-megaphone:before{ content:'1F4E3'; }
.et-moon:before{ content:'\0045'; }
.et-palette:before{ content:'\1F3A8'; }
.et-leaf:before{ content:'\1F342'; }
.et-note:before{ content:'\266A'; }
.et-beamed-note:before{ content:'\266B'; }
.et-new:before{ content:'\1F4A5'; }
.et-graduation-cap:before{ content:'\1F393'; }
.et-book:before{ content:'\1F4D5'; }
.et-newspaper:before{ content:'\1F4F0'; }
.et-bag:before{ content:'\1F45C'; }
.et-airplane:before{ content:'\2708'; }
.et-lifebuoy:before{ content:'\E788'; }
.et-eye:before{ content:'\E70A'; }
.et-clock:before{ content:'\1F554'; }
.et-mic:before{ content:'\1F3A4'; }
.et-calendar:before{ content:'\1F4C5'; }
.et-flash:before{ content:'\26A1'; }
.et-thunder-cloud:before{ content:'\26C8'; }
.et-droplet:before{ content:'\1F4A7'; }
.et-cd:before{ content:'\1F4BF'; }
.et-briefcase:before{ content:'\1F4BC'; }
.et-air:before{ content:'\1F4A8'; }
.et-hourglass:before{ content:'\23F3'; }
.et-gauge:before{ content:'\1F6C7'; }
.et-language:before{ content:'\1F394'; }
.et-network:before{ content:'\E776'; }
.et-key:before{ content:'\1F511'; }
.et-battery:before{ content:'\1F50B'; }
.et-bucket:before{ content:'\1F4FE'; }
.et-magnet:before{ content:'\E7A1'; }
.et-drive:before{ content:'\1F4FD'; }
.et-cup:before{ content:'\2615'; }
.et-rocket:before{ content:'\1F680'; }
.et-brush:before{ content:'\E79A'; }
.et-suitcase:before{ content:'\1F6C6'; }
.et-traffic-cone:before{ content:'\1F6C8'; }
.et-globe:before{ content:'\1F30E'; }
.et-keyboard:before{ content:'\2328'; }
.et-browser:before{ content:'\E74E'; }
.et-publish:before{ content:'\E74D'; }
.et-progress-3:before{ content:'\E76B'; }
.et-progress-2:before{ content:'\E76A'; }
.et-progress-1:before{ content:'\E769'; }
.et-progress-0:before{ content:'\E768'; }
.et-light-down:before{ content:'\1F505'; }
.et-light-up:before{ content:'\1F506'; }
.et-adjust:before{ content:'\25D1'; }
.et-code:before{ content:'\E714'; }
.et-monitor:before{ content:'\1F4BB'; }
.et-infinity:before{ content:'\221E'; }
.et-light-bulb:before{ content:'\1F4A1'; }
.et-credit-card:before{ content:'\1F4B3'; }
.et-database:before{ content:'\1F4F8'; }
.et-voicemail:before{ content:'\2707'; }
.et-clipboard:before{ content:'\1F4CB'; }
.et-cart:before{ content:'\E73D'; }
.et-box:before{ content:'\1F4E6'; }
.et-ticket:before{ content:'\1F3AB'; }
.et-rss:before{ content:'\E73A'; }
.et-signal:before{ content:'\1F4F6'; }
.et-thermometer:before{ content:'\1F4FF'; }
.et-water:before{ content:'\1F4A6'; }
.et-sweden:before{ content:'\F601'; }
.et-line-graph:before{ content:'\1F4C8'; }
.et-pie-chart:before{ content:'\25F4'; }
.et-bar-graph:before{ content:'\1F4CA'; }
.et-area-graph:before{ content:'\1F53E'; }
.et-lock:before{ content:'\1F512'; }
.et-lock-open:before{ content:'\1F513'; }
.et-logout:before{ content:'\E741'; }
.et-login:before{ content:'\E740'; }
.et-check:before{ content:'\2713'; }
.et-cross:before{ content:'\274C'; }
.et-squared-minus:before{ content:'\229F'; }
.et-squared-plus:before{ content:'\229E'; }
.et-squared-cross:before{ content:'\274E'; }
.et-circled-minus:before{ content:'\2296'; }
.et-circled-plus:before{ content:'\2295'; }
.et-circled-cross:before{ content:'\2716'; }
.et-minus:before{ content:'\2796'; }
.et-plus:before{ content:'\2795'; }
.et-erase:before{ content:'\232B'; }
.et-block:before{ content:'\1F6AB'; }
.et-info:before{ content:'\2139'; }
.et-circled-info:before{ content:'\E705'; }
.et-help:before{ content:'\2753'; }
.et-circled-help:before{ content:'\E704'; }
.et-warning:before{ content:'\26A0'; }
.et-cycle:before{ content:'\1F504'; }
.et-cw:before{ content:'\27F3'; }
.et-ccw:before{ content:'\27F2'; }
.et-shuffle:before{ content:'\1F500'; }
.et-back:before{ content:'\1F519'; }
.et-level-down:before{ content:'\21B3'; }
.et-retweet:before{ content:'\E717'; }
.et-loop:before{ content:'\1F501'; }
.et-back-in-time:before{ content:'\E771'; }
.et-level-up:before{ content:'\21B0'; }
.et-switch:before{ content:'\21C6'; }
.et-numbered-list:before{ content:'\E005'; }
.et-add-to-list:before{ content:'\E003'; }
.et-layout:before{ content:'\268F'; }
.et-list:before{ content:'\2630'; }
.et-text-doc:before{ content:'\1F4C4'; }
.et-text-doc-inverted:before{ content:'\E731'; }
.et-doc:before{ content:'\E730'; }
.et-docs:before{ content:'\E736'; }
.et-landscape-doc:before{ content:'\E737'; }
.et-picture:before{ content:'\1F304'; }
.et-video:before{ content:'\1F3AC'; }
.et-music:before{ content:'\1F3B5'; }
.et-folder:before{ content:'\1F4C1'; }
.et-archive:before{ content:'\E800'; }
.et-trash:before{ content:'\E729'; }
.et-upload:before{ content:'\1F4E4'; }
.et-download:before{ content:'\1F4E5'; }
.et-save:before{ content:'\1F4BE'; }
.et-install:before{ content:'\E778'; }
.et-cloud:before{ content:'\2601'; }
.et-upload-cloud:before{ content:'\E711'; }
.et-bookmark:before{ content:'\1F516'; }
.et-bookmarks:before{ content:'\1F4D1'; }
.et-open-book:before{ content:'\1F4D6'; }
.et-play:before{ content:'\25B6'; }
.et-paus:before{ content:'\2016'; }
.et-record:before{ content:'\25CF'; }
.et-stop:before{ content:'\25A0'; }
.et-ff:before{ content:'\23E9'; }
.et-fb:before{ content:'\23EA'; }
.et-to-start:before{ content:'\23EE'; }
.et-to-end:before{ content:'\23ED'; }
.et-resize-full:before{ content:'\E744'; }
.et-resize-small:before{ content:'\E746'; }
.et-volume:before{ content:'\23F7'; }
.et-sound:before{ content:'\1F50A'; }
.et-mute:before{ content:'\1F507'; }
.et-flow-cascade:before{ content:'\1F568'; }
.et-flow-branch:before{ content:'\1F569'; }
.et-flow-tree:before{ content:'\1F56A'; }
.et-flow-line:before{ content:'\1F56B'; }
.et-flow-parallel:before{ content:'\1F56C'; }
.et-left-bold:before{ content:'\E4AD'; }
.et-down-bold:before{ content:'\E4B0'; }
.et-up-bold:before{ content:'\E4AF'; }
.et-right-bold:before{ content:'\E4AE'; }
.et-left:before{ content:'\2B05'; }
.et-down:before{ content:'\2B07'; }
.et-up:before{ content:'\2B06'; }
.et-right:before{ content:'\27A1'; }
.et-circled-left:before{ content:'\E759'; }
.et-circled-down:before{ content:'\E758'; }
.et-circled-up:before{ content:'\E75B'; }
.et-circled-right:before{ content:'\E75A'; }
.et-triangle-left:before{ content:'\25C2'; }
.et-triangle-down:before{ content:'\25BE'; }
.et-triangle-up:before{ content:'\25B4'; }
.et-triangle-right:before{ content:'\25B8'; }
.et-chevron-left:before{ content:'\E75D'; }
.et-chevron-down:before{ content:'\E75C'; }
.et-chevron-up:before{ content:'\E75F'; }
.et-chevron-right:before{ content:'\E75E'; }
.et-chevron-small-left:before{ content:'\E761'; }
.et-chevron-small-down:before{ content:'\E760'; }
.et-chevron-small-up:before{ content:'\E763'; }
.et-chevron-small-right:before{ content:'\E762'; }
.et-chevron-thin-left:before{ content:'\E765'; }
.et-chevron-thin-down:before{ content:'\E764'; }
.et-chevron-thin-up:before{ content:'\E767'; }
.et-chevron-thin-right:before{ content:'\E766'; }
.et-left-thin:before{ content:'\2190'; }
.et-down-thin:before{ content:'\2193'; }
.et-up-thin:before{ content:'\2191'; }
.et-right-thin:before{ content:'\2192'; }
.et-arrow-combo:before{ content:'\E74F'; }
.et-three-dots:before{ content:'\23F6'; }
.et-two-dots:before{ content:'\23F5'; }
.et-dot:before{ content:'\23F4'; }
.et-cc:before{ content:'\1F545'; }
.et-cc-by:before{ content:'\1F546'; }
.et-cc-nc:before{ content:'\1F547'; }
.et-cc-nc-eu:before{ content:'\1F548'; }
.et-cc-nc-jp:before{ content:'\1F549'; }
.et-cc-sa:before{ content:'\1F54A'; }
.et-cc-nd:before{ content:'\1F54B'; }
.et-cc-pd:before{ content:'\1F54C'; }
.et-cc-zero:before{ content:'\1F54D'; }
.et-cc-share:before{ content:'\1F54E'; }
.et-cc-remix:before{ content:'\1F54F'; }
.et-db-logo:before{ content:'\1F5F9'; }
.et-db-shape:before{ content:'\1F5FA'; }
 
.ets-github:before{ content:'\F300'; }
.ets-c-github:before{ content:'\F301'; }
.ets-flickr:before{ content:'\F303'; }
.ets-c-flickr:before{ content:'\F304'; }
.ets-vimeo:before{ content:'\F306'; }
.ets-c-vimeo:before{ content:'\F307'; }
.ets-twitter:before{ content:'\F309'; }
.ets-c-twitter:before{ content:'\F30A'; }
.ets-facebook:before{ content:'\F30C'; }
.ets-c-facebook:before{ content:'\F30D'; }
.ets-s-facebook:before{ content:'\F30E'; }
.ets-googleplus:before{ content:'\F30F'; }
.ets-c-googleplus:before{ content:'\F310'; }
.ets-pinterest:before{ content:'\F312'; }
.ets-c-pinterest:before{ content:'\F313'; }
.ets-tumblr:before{ content:'\F315'; }
.ets-c-tumblr:before{ content:'\F316'; }
.ets-linkedin:before{ content:'\F318'; }
.ets-c-linkedin:before{ content:'\F319'; }
.ets-dribbble:before{ content:'\F31B'; }
.ets-c-dribbble:before{ content:'\F31C'; }
.ets-stumbleupon:before{ content:'\F31E'; }
.ets-c-stumbleupon:before{ content:'\F31F'; }
.ets-lastfm:before{ content:'\F321'; }
.ets-c-lastfm:before{ content:'\F322'; }
.ets-rdio:before{ content:'\F324'; }
.ets-c-rdio:before{ content:'\F325'; }
.ets-spotify:before{ content:'\F327'; }
.ets-c-spotify:before{ content:'\F328'; }
.ets-qq:before{ content:'\F32A'; }
.ets-instagram:before{ content:'\F32D'; }
.ets-dropbox:before{ content:'\F330'; }
.ets-evernote:before{ content:'\F333'; }
.ets-flattr:before{ content:'\F336'; }
.ets-skype:before{ content:'\F339'; }
.ets-c-skype:before{ content:'\F33A'; }
.ets-renren:before{ content:'\F33C'; }
.ets-sina-weibo:before{ content:'\F33F'; }
.ets-paypal:before{ content:'\F342'; }
.ets-picasa:before{ content:'\F345'; }
.ets-soundcloud:before{ content:'\F348'; }
.ets-mixi:before{ content:'\F34B'; }
.ets-behance:before{ content:'\F34E'; }
.ets-google-circles:before{ content:'\F351'; }
.ets-vk:before{ content:'\F354'; }
.ets-smashing:before{ content:'\F357'; }