@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-apple54:before {
	content: "\e000";
}
.flaticon-bottle42:before {
	content: "\e001";
}
.flaticon-bread14:before {
	content: "\e002";
}
.flaticon-carrot3:before {
	content: "\e003";
}
.flaticon-chicken1:before {
	content: "\e004";
}
.flaticon-cow11:before {
	content: "\e005";
}
.flaticon-deer2:before {
	content: "\e006";
}
.flaticon-delivery29:before {
	content: "\e007";
}
.flaticon-eggs:before {
	content: "\e008";
}
.flaticon-fish2:before {
	content: "\e009";
}
.flaticon-glass4:before {
	content: "\e00a";
}
.flaticon-happy50:before {
	content: "\e00b";
}
.flaticon-head8:before {
	content: "\e00c";
}
.flaticon-herbal1:before {
	content: "\e00d";
}
.flaticon-honey:before {
	content: "\e00e";
}
.flaticon-house112:before {
	content: "\e00f";
}
.flaticon-piggy11:before {
	content: "\e010";
}
.flaticon-sheep1:before {
	content: "\e011";
}
.flaticon-sheep3:before {
	content: "\e012";
}
.flaticon-shopping6:before {
	content: "\e013";
}
.flaticon-softdrinks1:before {
	content: "\e014";
}
.flaticon-special:before {
	content: "\e015";
}
.flaticon-wheat6:before {
	content: "\e016";
}
